.messages-list {
    width: 40%;
    padding: 4px;
}

.messages-list .message-list-item {

    padding: 8px;
    margin: 8px 0 0 8px;

    background-color: #ffe1e1;

    /* shadow */
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);

    /* round a bit */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    
}

.messages-list .message-list-item.sent-by-me {
    background-color: #ff6969;
}